body {
  background-color: antiquewhite;
  color: grey;
  font-size: 30px;
}

div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 2px 2px green;
}

p {
  width: 100%;
  margin: auto;
}

a {
  font-size: 40px;
  text-decoration: none;
}


