@font-face {
  font-family: "Roboto Regular";

  src: url("./../fonts/Roboto-Regular-webfont.woff");
}

@font-face {
  font-family: "Roboto Black";
  src: url("./../fonts/Roboto-Black.ttf");
}

html {
  position: relative;
  min-height: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-width: 900px;
  height: 100%;
}

h2 {
  font-size: 1.5rem;
}

input[type="text"] {
  border: 2px solid #d3d3d2;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

input[type="text"]:hover {
  border: 2px solid #c7c6c5;
}

input[type="text"]:focus {
  border: 2px solid #8fbdec;
}

.index-color1 {
  background: #849d8f; /* fallback */
  background: #849d8f radial-gradient(circle at 50% 385px, #cdf4df 0, #849d8f 497px);
}

.index-color2 {
  background: #549aaf; /* fallback */
  background: #549aaf radial-gradient(circle at 50% 385px, #c4dbf4 0, #549aaf 497px);
}

.index-color3 {
  background: #9d8b84; /* fallback */
  background: #9d8b84 radial-gradient(circle at 50% 385px, #f2ebff 0, #9d8b84 497px);
}

.catalog {
  background: #849d8f;
}

a {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #e84d37;
}

.container {
  position: relative;
  /*display: flex;*/
  padding: 0 2.25%;
}

.header,
.slider,
.index-main,
.footer,
.catalog-main {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.index-main .container {
  /*flex-wrap: wrap;*/
}

.catalog-main .container {
  display: block;
}

.posters-container {
  display: flex;
  flex-direction: row;
  font-size: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header .container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.map .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header {
  margin-top: 22px;
}

.header__logo {
  position: absolute;
  top: -16px;
  left: 20px;
  width: 154px;
  height: 70px;
  margin: 0;
  padding: 0;
  fill: #ffffff;
  fill-rule: evenodd;
  flex: 1 1 100%;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 160px;
  padding-top: 0;
  font-weight: bold;
  justify-content: space-between;
  flex: 1 1 100%;
  align-items: flex-start;
  align-self: flex-start;
}

.header__menu-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
  flex: 1 1 300px;
}

.header__menu-item {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.header__menu-item::after {
  position: absolute;
  bottom: 7px;
  left: 13px;
  width: calc(100% - 24px);
  height: 1px;
  content: '';
  background: #a9bfb3;
}

.header__menu-item:hover {
  display: inline-block;
  text-decoration: none;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: none;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.header__menu-item:hover::after {
  display: none;
}

.header__menu-item:hover a {
  color: #000000;
  box-shadow: none;
}

.header__menu-item a {
  display: block;
  box-sizing: content-box;
  padding: 7px 15px;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: calc(1rem * 22 / 16);
}

.header__menu-item:hover .header__sub-menu-list {
  z-index: 40;
  display: flex;
}

.header__sub-menu-list {
  z-index: 20;
  overflow: hidden;
  flex-direction: column;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  border-radius: 6px;
}

.header__sub-menu-item {
  width: 100%;
}

.header__sub-menu-item a {
  padding: 7px 20px 7px 20px;
  color: #000000;
  box-shadow: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: calc(1rem * 14 / 16);
  font-weight: normal;
  line-height: 16px;
}

.header__sub-menu-item:first-of-type a {
  font-weight: bold;
}

.news-subscr__input,
.user-block__search-field,
.user-block__email-input,
.user-block__password-input {
  margin-right: 11px;
  padding-left: 15px;
  color: #a1a1a1;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: calc(1rem * 24 / 16);
  flex: 1 1 369px;
}

.user-block {
  position: relative;
  margin-top: 0;
}

.user-block__search-field {
  width: 100%;
  padding: 10px 15px 10px 15px;
  font-size: calc(1rem * 14 / 16);
  font-weight: normal;
  line-height: calc(1rem * 24 / 16);
}

.user-block__search-modal,
.user-block__login-modal,
.feedback-modal,
.header__sub-menu-list {
  position: absolute;
  z-index: 20;
  display: none;
  border-radius: 4px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.user-block__search-modal {
  border-top: 10px solid transparent;
  background-clip: padding-box;
}

.user-block__login-modal {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  flex-direction: row;
  min-width: 280px;
  padding: 20px 20px 20px 20px;
  flex-wrap: wrap;
  border-top: 10px solid transparent;
  background-clip: padding-box;
}

.user-block__login:hover > .user-block__login-modal {
  display: flex;
}

.user-block__login:hover {
  background: #f8f7f4;
}

.user-block__login:hover .user-block__login-text {
  opacity: .1;
  color: #000000;
}

.user-block__login:hover .user-block__icon-login {
  fill: #000000;
}

.user-block__email-input,
.user-block__password-input {
  margin-right: 0;
  margin-bottom: 20px;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.button--user-block-modal {
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
}

.user-block__special-cases {
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
}

.button--user-block-modal {
  margin-right: 18px;
  border: none;
  border-radius: 22px;
  outline: none;
}

.user-block__get-new-password,
.user-block__new-registration {
  display: block;
  white-space: nowrap;
  color: #818180;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: calc(1rem * 13 / 16);
  font-weight: normal;
  line-height: calc(1rem * 24 / 16);
}

.user-block__email-input,
.user-block__password-input {
  width: 100%;
  padding: 10px 15px 10px 15px;
  font-size: calc(1rem * 13 / 16);
  font-weight: normal;
  line-height: calc(1rem * 24 / 16);
}

.header__sub-menu-item a:hover {
  background: #fbded8;
}

.user-block__search:hover > .user-block__search-modal {
  top: 100%;
  right: 0;
  display: block;
  min-width: 340px;
  padding: 20px 15px 20px 15px;
}

.user-block__search:hover > .user-block__search-icon {
  fill: #000000;
}

.user-block__search:hover {
  background: #f8f7f4;
}

.user-block__login,
.user-block__basket,
.user-block__search {
  position: relative;
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0;
  vertical-align: top;
}

.header__sub-menu-list {
  border-top: 10px solid transparent;
  background-clip: padding-box;
}

.user-block__basket--nonempty::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 14px;
  height: 0;
  content: '';
  border-top: 12px solid red;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.user-block__search-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 18px;
  fill: #fefefe;
  fill-rule: evenodd;
}

.user-block__search {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background: #a1b5aa;
}

.user-block__login,
.user-block__basket {
  position: relative;
  border-radius: 16px;
  background: #a1b5aa;
}

.user-block__basket:hover {
  background: #f8f7f4;
}

.user-block__basket-content {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: 542px;
  z-index: 20;
  border-radius: 4px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  color: black;
  padding: 0 20px 18px 20px;
  border-top: 10px solid transparent;
  background-clip: padding-box;
}

.user-block__basket:hover .user-block__basket-content {
  display: block;
}

.user-block__basket-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-block__basket-record {
  position: relative;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 25px 0px 25px 65px;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 20px center;
  text-align: justify;
}

.user-block__basket-record--orange {
  background-image: url("../img/icecream-orange.png");
}

.user-block__basket-record--coffe {
  background-image: url("../img/icecream-coffe.png");
}

.user-block__basket-record--caramel {
  background-image: url("../img/icecream-caramel.png");
}

.user-block__basket-record--strawberry {
  background-image: url("../img/icecream-strawb.png");
}

.user-block__basket-item:last-of-type {
  border-bottom: 2px solid gainsboro;
}

.user-block__basket-record::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icon-cross.svg") no-repeat;
  background-size: 12px 12px;
  top: 50%;
  transform: translateY(-30%);
  left: 0;
}

.user-block__basket-record span {
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
}

.user-block__basket-record span:last-child {
  margin-right: 0;
}

.user-block__record-title {
  width: 246px;
}

.user-block__record-amount {
  width: 100px;
}

.user-block__record-price {
  width: 60px;
  text-align: right;
}

.user-block__total-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: right;
}

.user-block__basket:hover .user-block__icon-basket {
  fill: #000000;
}

.user-block__basket:hover .user-block__basket-text {
  opacity: .1;
  color: #000000;
}

.user-block__login-link,
.user-block__basket-link {
  display: block;
  padding: 8px 18px 9px 42px;
  text-decoration: none;
  color: #fefefe;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.user-block__basket-link {
  padding-right: 34px;
}

.user-block__icon-login,
.user-block__icon-basket {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #fefefe;
  fill-rule: evenodd;
}

.user-block__icon-login,
.user-block__icon-basket {
  top: 7px;
  left: 15px;
}

.breadcrumbs {
  margin: 40px 0 0px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  display: block;
  box-sizing: content-box;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.breadcrumbs__link > span {
  display: inline-block;
  padding: 0 7px 0 7px;
}

.header__contacts {
  display: inline-block;
  margin-top: 17px;
  text-align: right;
  -ms-flex-item-align: right;
  align-self: flex-end;
  -ms-flex: 1 1 270px;
  flex: 1 1 270px;
}

.header__contacts-time,
.header__contacts-phone {
  display: block;
  color: white;
}

.header__contacts-time {
  font-size: calc(1rem * 14 / 16);
  font-weight: bold;
  line-height: 1rem;
}

.header__contacts-phone {
  margin-top: 4px;
  text-decoration: none;
  font-family: "Roboto Black", "Roboto", Helvetica, Arial, sans-serif;
  font-size: calc(1rem * 22 / 16);
  line-height: calc(1rem * 24 / 16);
}

.catalog-main__header {
  margin-top: 0px;
  font-size: calc(1rem * 35 / 16);
  font-weight: bold;
  line-height: calc(1rem * 41 / 16);
}

.form {
  font-size: 0;
  margin-bottom: 10px;
}

.form__option {
  position: relative;
  display: inline-block;
  margin: 0 12px 36px 0;
  padding: 0;
  vertical-align: top;
  white-space: nowrap;
  border: none;
  border-radius: 19px;
  border-image: none;
  background: #a9bab0;
}

.form__option:nth-child(3n) {
  margin-right: 0;
}

.form__legend {
  position: absolute;
  top: -20px;
  margin: 0;
  padding: 0;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.form__option--sort-type .form__legend,
.form__option--price-range .form__legend {
  left: 15px;
}

.form__price-range {
  width: 190px;
  height: 4px;
  margin: 16px 15px;
  background: #d1dad3;
  position: relative;
}

.form__left-bound,
.form__right-bound {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  top: -8px;
  border-radius: 50%;
  z-index: 10;
}

.form__bound {
  position: absolute;
  width: 130px;
  height: 4px;
  top: 0px;
  left: 30px;
  background: #ffffff;
}

.form__right-bound {
  right: 10px;
}

.form__left-bound {
  left: 10px;
}

.form__option--sort-type {
  width: 194px;
}

.form__options {
  margin: 0;
  padding: 8px 0px 8px 15px;
  color: #ffffff;
  border: none;
  border-radius: 19px;
  background: #a9bab0;
  font-size: 1rem;
  line-height: calc(1rem * 16 / 18);
}

.form__options-item {
  margin: 6px;
  padding: 8px 15px;
}

.form__option--fats {
  padding: 7px 15px;
}

.form__radio {
  display: none;
}

.form__radio-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  margin-left: 0px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.form__radio-icon:hover {
  border: 2px solid #ffffff;
}

.form__radio-label {
  margin-right: 20px;
  margin-left: 0px;
}

.form__radio-label:last-child {
  margin-right: 0px;
}

.form__option--fats .form__sub-wrapper {
  margin: 0;
  padding: 0;
  font-size: 0;
}

[class^="form__radio-"] {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: calc(1rem * 18 / 16);
}

.form__radio:checked + .form__radio-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}

.form__radio:checked + .form__radio-icon:hover::before {
  width: 9px;
  height: 9px;
  left: 4px;
  top: 4px;
}

.form__checkbox {
  display: none;
}

.form__option--fillers {
  padding: 7px 16px;
}

.form__option--fillers .form__sub-wrapper {
  font-size: 0;
}

.form__checkbox-icon {
  position: relative;
  width: 20px;
  height: 19px;
  margin-right: 12px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.form__checkbox:checked + .form__checkbox-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: -2px -1px;
}

.form__checkbox-icon:hover {
  border: 2px solid #ffffff;
}

.form__checkbox:checked + .form__checkbox-icon:hover:before {
  background-size: 20px 20px;
  background-position: -3px -3px;
}

.form__label-text {
  margin-right: 21px;
}

.form__option--fillers label {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: calc(1rem * 18 / 16);
}

.form__option--fillers label:last-child {
  margin-right: 0px;
}

.form .button--form-submit {
  display: block;
  padding: 6px 28px;
  border: 2px solid #ffffff;
  border-radius: 18px;
  outline: none;
  background: #a6b7ad;
  box-shadow: none;
  text-shadow: none;
  font-size: calc(1rem * 14 / 16);
  line-height: 1rem;
}

.form .button--form-submit:hover {
  color: #000000;
  background: #fbfcfb;
}

.form .button--form-submit:active {
  color: #000000;
  background: #eaeaea;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
  flex: 1 1 100%;
  justify-content: flex-end;
}

.pagination__list {
  margin: 0;
  padding: 0;
}

.pagination__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination__link {
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: calc(1rem * 18 / 16);
  border-radius: 50%;
}

.pagination__link--active {
  background: #ffffff;
  color: #000000;
}

.pagination__link:hover {
  background: #9db1a5;
  color: #ffffff;
}

.pagination__icon-next,
.pagination__icon-prev {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-bottom: -5px;
}

.slider {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.slider__inner {
  position: relative;
  width: 100%;
}

.slider__slides {
  position: relative;
  display: block;
  width: 100%;
  min-height: 528px;
}

.slider__controls {
  display: none;
}

.slider__control-labels {
  position: absolute;
  z-index: 20;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.slider__control-labels:hover {
  background: #b2c1b7;
}

.slider__control-labels:active {
  background: #ffffff;
}

.slider__control-labels:nth-of-type(1) {
  bottom: 62px;
  left: 2.25%;
}

.slider__control-labels:nth-of-type(2) {
  bottom: 62px;
  left: calc(2.25% + 30px);
}

.slider__control-labels:nth-of-type(3) {
  bottom: 62px;
  left: calc(2.25% + 60px);
}

#slider__controls1:checked ~ label[for='slider__controls1'] {
  background: #ffffff;
}

#slider__controls2:checked ~ label[for='slider__controls2'] {
  background: #ffffff;
}

#slider__controls3:checked ~ label[for='slider__controls3'] {
  background: #ffffff;
}

.slider__slides {
  display: none;
}

#slider__controls1:checked ~ .slider__inner .slider__slides:nth-of-type(1) {
  display: block;
}

#slider__controls2:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(2) {
  display: none;
}

#slider__controls3:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(3) {
  display: none;
}

#slider__controls2:checked ~ .slider__inner .slider__slides:nth-of-type(2) {
  display: block;
}

#slider__controls1:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(1) {
  display: none;
}

#slider__controls3:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(3) {
  display: none;
}

#slider__controls3:checked ~ .slider__inner .slider__slides:nth-of-type(3) {
  display: block
}

#slider__controls1:not([checked]) + #slider__controls2:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(1) {
  display: none;
}

#slider__controls2:not([checked]) + #slider__controls1:not([checked]) ~ .slider__inner .slider__slides:nth-of-type(2) {
  display: none;
}

.slider__img {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 50%;
  display: block;
  width: 647px;
  transform: translateX(-50%);
}

.slider__title {
  position: absolute;
  z-index: 10;
  top: 273px;
  left: 50%;
  width: 750px;
  margin-top: 0;
  margin-bottom: 20px;
  transform: translateX(-50%);
  font-family: "Roboto Black", "Roboto", Helvetica, Arial, sans-serif;
  font-size: calc(1rem * 60 / 16);
  font-weight: normal;
  line-height: 60px;
}

.hidden {
  display: none;
}

.button {
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  background: #ed5a3d;
  background: linear-gradient(#f26843, #ac5a49);
  box-shadow: 0 2px 2px 0 #ab5948;
  text-shadow: 0 2px 5px #a0200b;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.button:hover {
  color: white;
  background: #e84d37;
  background: linear-gradient(#f48468, #ed705e);
}

.button:active {
  color: white;
  background: linear-gradient(#d84732, #e1613e);
  box-shadow: 0 -2px 2px 0 #ab5948;
}

.button--slider {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: block;
  padding: 10px 40px 10px 40px;
  transform: translateX(-50%);
  border-radius: 32px;
  font-size: calc(1rem * 32 / 16);
  line-height: calc(1rem * 44 / 16);
}

.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.banner {
  z-index: 5;
  vertical-align: top;
  border-radius: 15px;
  width: 47.8166666%;
  flex: 1 1 47.8166666%;
  flex-basis: 47.816666%;
}

.banner__wrapper {
  width: 100%;
  padding: 18px 22px 24px 18px;
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.banner--raspberry {
  margin-right: 2.1677777%;
  background: #6a1627;
  background-image: url('./../img/bg-raspberries.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--chocolate {
  background: #462b1e;
  background-image: url('./../img/bg-chockolates.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(1rem * 35 / 16);
  font-weight: bold;
  line-height: calc(1rem * 41 / 16);
}

.banner__text {
  margin-top: 14px;
  margin-bottom: 44px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px; /*calc(1rem * 18 / 16); */
  font-weight: bold;
  line-height: calc(1rem * 22 / 16);
}

.button--banner,
.button--news-subscr,
.button--feedback-form {
  padding: 11px 22px 11px 22px;
  border: none;
  border-radius: 23px;
  outline: none;
  font-size: calc(1rem * 18 / 16);
  line-height: calc(1rem * 24 / 16);
  align-self: flex-start;
}

.button--feedback-form {
  text-align: center;
  padding: 11px 10px 11px 10px;
  display: block;
}

.button--basket {
  padding: 15px;
  float: right;
  border-radius: 25px;
}

.button--news-subscr {
  padding: 10px 19px 10px 19px;
}

.button--banner {
  flex: 0 0 auto;
  align-self: flex-end;
  min-width: 190px;
  margin-top: auto;
  text-align: center;
}

.hits {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 100%;
}

.ice-cream-post {
  position: relative;
  display: block;
  width: 20.2%;
  float: left;
  margin-top: 0px;
  margin-right: 2.1677777%;
  flex: 0 0 22.2%;
  text-align: center;
}

.ice-cream-post__wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 20px;
}

.ice-cream-post:hover {
  background: #9db1a5;
}

.ice-cream-post:hover .ice-cream-post__button {
  visibility: visible;
}

.ice-cream-post:nth-of-type(4n) {
  margin-right: 0;
}

.ice-cream-post__button {
  visibility: hidden;
  width: 100%;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 5px 10px 5px;
  font-size: 0.9rem;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: 10px;
}

.ice-cream-post__image {
  width: 100%;
  height: auto;
  display: block;
  min-height: 1px;
}

.ice-cream-post__hit {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 62px;
  height: 62px;
}

.ice-cream-post__price span:first-child {
  font-size: calc(1rem * 45 / 16);
  font-weight: bold;
  line-height: calc(1rem * 45 / 16);
}

.ice-cream-post__price {
  position: absolute;
  bottom: 62px;
  left: 20px;
  top: 35%;
  font-size: 0;
}

.ice-сream-post__title {
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem * 22 / 16);
}

.ice-cream-post__price span:last-child {
  font-size: calc(1rem * 30 / 16);
  font-weight: bold;
  line-height: calc(1rem * 45 / 16);
}

.ice-cream-post__icon-rur {
  display: inline-block;
  width: 35px;
  height: 38px;
  vertical-align: -3px;
  fill: #ffffff;
  fill-rule: evenodd;
}

.seo {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 20px 20px 26px 18px;
  color: black;
  border-radius: 15px;
  background: #ece0c7;
  background-image: url('./../img/bg-waffles.jpg');
  flex: 1 1 100%;
  flex-wrap: wrap;
}

.seo__title {
  margin-top: 5px;
  flex: 1 1 100%;
}

.seo__text {
  position: relative;
  margin-top: 2px;
  margin-bottom: 0;
  padding-left: 54px;
  font-family: 'Roboto Regular', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(1rem * 22 / 16);
  flex: 1 1 40%;
}

.seo__text:nth-of-type(odd) {
  margin-right: 26px;
}

.seo__text:nth-of-type(1),
.seo__text:nth-of-type(2) {
  margin-bottom: 20px;
}

.seo__paragraph-icon {
  position: absolute;
  top: -13px;
  left: 0;
  width: 48px;
  height: 48px;
}

.seo__paragraph-icon--cow {
  fill: black;
  fill-rule: evenodd;
}

.news {
  display: flex;
  flex-direction: row;
  margin-top: 39px;
  color: black;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1 50%;
}

.news-article,
.news-subscr {
  border-radius: 15px;
  flex: 1 1 48%;
  flex-wrap: nowrap;
}

.news-article {
  margin-right: 2.1677777%;
  padding: 23px 20px 82px 17px;
  background: url('./../img/bg-strawberries.jpg') no-repeat right 0% top 0%;
  background-size: cover;
}

.news-article__title {
  color: black;
  font-size: calc(1rem * 24 / 16);
  font-weight: bold;
  line-height: calc(1rem * 30 / 16);
}

.news-article__header {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(1rem * 22 / 16);
}

.news-subscr {
  padding: 0;
  border-radius: 10px;
  background: url('./../img/bg-post.jpg');
}

.news-subscr__wrapper {
  margin: 6px;
  padding: 30px 20px 35px;
  border-radius: 10px;
  background: #f8f7f4;
}

.news-subscr__text {
  margin: 0 0 20px;
  margin-bottom: 35px;
  line-height: calc(1rem * 22 / 16);
}

.news-subscr__form {
  display: flex;
  flex-direction: row;
}

.map {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background: url('./../img/bg-map.jpg') no-repeat;
  background-size: cover;
  max-width: 1200px;
}

.map .container {
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.map-feedback {
  display: inline-block;
  width: 304px;
  margin: 60px 30px 60px 0;
  padding: 30px 22px 42px 24px;
  color: black;
  border-radius: 12px;
  background: white;
  align-self: flex-end;
}

.map-feedback__contacts {
  margin-bottom: 36px;
  border: 1px solid transparent;
  font-size: calc(1rem * 14 / 16);
  line-height: calc(1rem * 20 / 16);
}

.map-feedback__contacts b {
  display: block;
  margin-bottom: 14px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #000000;
  font-size: calc(1rem * 18 / 16);
  font-weight: bold;
  line-height: calc(1rem * 24 / 16);
}

.map-feedback__contacts a {
  display: block;
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #000000;
  font-size: calc(1rem * 18 / 16);
  font-weight: bold;
  line-height: calc(1rem * 22 / 16);
}

.footer .container {
  padding: 28px 2.25% 36px 2.25%;
  justify-content: space-between;
  position: relative;
}

.socials {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}

.socials__item {
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
}

.socials__item a {
  display: block;
  margin: 0;
  padding: 0;
}

.socials__item:hover .socials__icon {
  fill: white;
}

.socials__item:active .socials__icon {
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.4);
}

.socials__icon {
  width: 38px;
  height: 38px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  fill: #e6ebe9;
}

.footer__menu {
  position: absolute;
  top: 20px;
  right: 30%;
  left: 30%;
  /*width: 342px;*/
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: calc(1rem * 13 / 16);
}

.footer__icon-heart {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 13px;
  height: 13px;
  fill: #fefefe;
}

.footer__menu-item {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: top;
  margin: 10px 32px 10px 0px;
  padding: 1px 0px;
  box-shadow: 0 2px 0 0 #9db1a5;
  font-size: calc(1rem * 13 / 16);
  line-height: calc(1rem * 13 / 16);
  width: 33%;
}

.footer__menu-item:nth-of-type(even) {
  margin-right: 0;
  width: 48%;
}

.footer__menu-item:nth-of-type(odd) {
  margin-right: 30px;
}

.footer__menu-item:nth-of-type(3),
.footer__menu-item:nth-of-type(4) {
  margin-top: 0;
}

.footer__made-by {
  float: right;
}

.footer__logo {
  width: 108px;
  height: 38px;
  fill: #fefefe;
}

.footer__logo-link {
  display: block;
}

.footer__copyright {
  font-size: calc(1rem * 12 / 16);
}

.feedback-modal {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  top: 150px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 478px;
  padding: 20px 25px;
  border-radius: 4px;
  background: #f8f7f4;
  /*transform: translate(-50%, 150px);*/
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedback-modal-wrapper {
  width: 100%;
  height: 100%;
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
}

.blur {
  filter: blur(2px);
  background: rgba(44, 45, 44, 0.8);
  border-top: 1px solid transparent;
}

.button--feedback-submit {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  border: none;
  border-radius: 22px;
  align-self: flex-end;
}

.feedback-modal__title {
  margin-top: 0;
  font-size: calc(1rem * 24 / 16);
  font-weight: bolder;
  line-height: calc(1rem * 28 / 16);
  flex: 1 1 100%;
}

.feedback-modal__name,
.feedback-modal__email,
.feedback-modal__text {
  z-index: 30;
  min-width: 264px;
  margin-bottom: 23px;
  padding: 10px 15px 10px 15px;
  color: #a1a1a1;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: calc(1rem * 24 / 16);
  flex: 1 1 auto;
}

.feedback-modal__title {
  color: #000000;
}

.feedback-modal__text {
  width: 100%;
}

.feedback-modal__icon-close {
  position: absolute;
  z-index: 0;
  top: 7px;
  right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background: #f8f7f4;
}

.feedback-modal__icon-close::before {
  position: absolute;
  left: 5px;
  width: 25px;
  height: 2px;
  content: '';
  transform: rotate(-45deg);
  background: #000000;
}

.feedback-modal__icon-close::after {
  position: absolute;
  left: 5px;
  width: 25px;
  height: 2px;
  content: '';
  transform: rotate(45deg);
  background: #000000;
}

.hidden {
  display: none;
}

@keyframes bounce {
  0% { transform: translateY(-500px);}
  20%, 50%, 80%, 100% {transform: translateY(0px);}
  40% {transform: translateY(-35px);}
  60% {transform: translateY(-25px);}
  90% {transform: translateY(-5px);}
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.7s;
}

